<div ng-controller="elapsedTimeReportCtrl">
    <h1 class="page-header">Elapsed Time Report</h1>
    <div class="row placeholders">
        <span class="pull-left">
        Select bean: <input type="hidden" id="objects" style="width: 250px"/>
        </span>
    </div>

    <div class="row placeholders">
        <div id="chartContainer" chart-report="" class="span10" chart-name="ElapsedTime"></div>
    </div>
</div>