<div ng-controller="schedulerCtrl as scheduler">
    <div class="form-group">
        <strong>
            <div ng-class="{'alert alert-danger': status=='stopped' , 'alert alert-success': status=='running'}" role="alert" style="width: 400px">
                Connection [{{hostname}}:{{port}}] - status [{{status}}]
            </div>
        </strong>
    </div>

    <table class="table" style="width: 400px">
        <thead>
        <tr>
            <th>Deployments</th>
            <!--th>enable</th-->
            <th>Status</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="deployment in deployments">
            <td>{{deployment.objectName}}</td>
            <!--td><input type="checkbox" ng-model="deployment.enabled"/></td-->

            <td>
                <div ng-class="{'statusInactive': deployment.status=='inactive', 'statusPause': deployment.status=='pause' , 'statusActive': deployment.status=='active'}"
                     style="height: 40px" role="alert">
                    {{ deployment.status != 'active' ? deployment.status : ''}}
                </div>
            </td>

            <td>
                <button type="button" class="btn btn-default" aria-label="Start" ng-click="start(deployment.objectName)" ng-disabled="disableStart">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                </button>
            </td>

            <td>
                <button type="button" class="btn btn-default" aria-label="Start" ng-click="stop('true',deployment.objectName)" ng-disabled="disablePause">
                    <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
                </button>
            </td>

            <td>
                <button type="button" class="btn btn-default" aria-label="Start" ng-click="stop('false',deployment.objectName)" ng-disabled="disableStop">
                    <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>