<div ng-controller="setupCtrl as setup">
    <h1 class="page-header">Setup</h1>

    <form name="setup_form" ng-submit="submit()" class="form-horizontal" role="form">
        <div class="form-group" ng-class="{'has-error': setup_form.hostname_field.$error.required || setup_form.hostname_field.$error.pattern}">

            <label class="control-label col-sm-3">Host name</label>

            <div class="col-sm-9">
                <input class="form-control"
                       ng-model="hostname"
                       name="hostname_field"
                       required ng-pattern="/^[0-9a-zA-Z.]{1,255}$/"
                       style="width: 200px" />
                <span ng-show="setup_form.hostname_field.$error.pattern" class="help-block">Wrong value</span>
                <span ng-show="setup_form.hostname_field.$error.required" class="help-block">Value required</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': setup_form.port_field.$error.required || setup_form.port_field.$error.pattern}">

            <label class="control-label col-sm-3">Port</label>

            <div class="col-sm-9">
                <input class="form-control"
                       ng-model="port"
                       name="port_field"
                       required ng-pattern="/^[0-9]{1,5}$/"
                       style="width: 100px"/>
                <span ng-show="setup_form.port_field.$error.pattern" class="help-block">Wrong value</span>
                <span ng-show="setup_form.port_field.$error.required" class="help-block">Value required</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': setup_form.username_field.$error.required || setup_form.username_field.$error.pattern}">

            <label class="control-label col-sm-3">Username</label>

            <div class="col-sm-9">
                <input class="form-control"
                       ng-model="username"
                       name="username_field"
                       required ng-pattern="/^[0-9a-zA-Z._]{1,255}$/"
                       style="width: 200px"/>
                <span ng-show="setup_form.username_field.$error.pattern" class="help-block">Wrong value</span>
                <span ng-show="setup_form.username_field.$error.required" class="help-block">Value required</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': setup_form.password_field.$error.required || setup_form.password_field.$error.pattern}">

            <label class="control-label col-sm-3">Password</label>

            <div class="col-sm-9">
                <input class="form-control"
                       ng-model="password"
                       name="password_field"
                       required
                       style="width: 200px"/>
                <span ng-show="setup_form.password_field.$error.pattern" class="help-block">Wrong value</span>
                <span ng-show="setup_form.password_field.$error.required" class="help-block">Value required</span>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': setup_form.assembling_frequency_field.$error.required || setup_form.assembling_frequency_field.$error.pattern}">

            <label class="control-label col-sm-3">Stats Collect Frequency (seconds)</label>

            <div class="col-sm-9">
                <input class="form-control"
                       ng-model="assembling_frequency"
                       name="assembling_frequency_field"
                       required ng-pattern="/^[0-9]{1,3}$/"
                       style="width: 100px"/>
                <span ng-show="setup_form.assembling_frequency_field.$error.pattern" class="help-block">Wrong value</span>
                <span ng-show="setup_form.assembling_frequency_field.$error.required" class="help-block">Value required</span>
            </div>
        </div>



        <div class="form-group" ng-class="{'has-error': setup_form.highcharts_refresh_frequency_field.$error.required || setup_form.highcharts_refresh_frequency_field.$error.pattern}">

            <label class="control-label col-sm-3">Chart Refresh Frequency (seconds)</label>

            <div class="col-sm-9">
                <input class="form-control"
                       ng-model="highcharts_refresh_frequency"
                       name="highcharts_refresh_frequency_field"
                       required ng-pattern="/^[0-9]{1,10}$/"
                       style="width: 100px"/>
                <span ng-show="setup_form.highcharts_refresh_frequency_field.$error.pattern" class="help-block">Wrong value</span>
                <span ng-show="setup_form.highcharts_refresh_frequency_field.$error.required" class="help-block">Value required</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-8">
                <input class="btn btn-primary" type="submit" value="Save"/>
            </div>
        </div>
    </form>
</div>