<div ng-controller="transactionCountReportCtrl">
    <h1 class="page-header">Transaction Count Per Deployment</h1>
    <div class="row placeholders">
        <span class="pull-left">
        Select deployment: <input type="hidden" id="objects" style="width: 250px"/>
        </span>
    </div>

    <div class="row placeholders">
        <div id="chartContainer" chart-report="" class="span10" chart-name="TransactionsCount"></div>
    </div>
</div>