<div ng-controller="welcomeCtrl as ctrl">
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <div id="gauge-cpu" style="width: 300px; height: 200px; float: left"></div>
            <span class="text-muted">Average Load</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <div id="gauge-ram" style="width: 300px; height: 200px; float: left"></div>
            <span class="text-muted">Heap Utilisation</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <div id="gauge-peak-threads" style="width: 300px; height: 200px; float: left"></div>
            <span class="text-muted">Thread Count</span>
        </div>
    </div>

    <h2 class="sub-header">Server Info</h2>
    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active' : serverInfoMode == 'basic'}"><a ng-click="loadBasicInfo()">Summary</a></li>
        <li role="presentation" ng-class="{'active' : serverInfoMode == 'detailed'}"><a ng-click="loadDetailedInfo()">Detailed</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="e in serverEnvironment">
                <td>{{e.property}}</td>
                <td>{{e.value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>